// bower:scss
// endbower
@import 'compass';
@import 'susy';

html,
body{
	height: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	margin: 0;
	padding: 0;
}


body{
	font-size: 1rem;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

button,
input,
select{
	font-family: sans-serif;
	font-size: 1rem;
}

a{
	text-decoration: none;
	color: gray;
}
a,
button{
	cursor: pointer;
}
.input{
	padding: 0.5rem;
	border: 1px solid gray;
	display: inline-block;
	width: 100%;
	margin-bottom: 0;
	box-sizing: border-box;
}
h1{
	text-align: center;
	font-size: 3rem;
	font-weight: 100;
	margin-bottom: 0.5rem;
}
h2{
	text-align: center;
	font-size: 2rem;
	font-weight: 100;
	margin-bottom: 1rem;
}
h3{
	text-align: center;
	margin: 0;
	color: gray;
	font-weight: 300;
	margin-bottom: 1rem;
}
h4{
	text-align: left;
	margin: 0;
	color: gray;
	font-weight: 400;
	padding-bottom: 1rem;
	font-size: 1.5rem;
}

#page{
	overflow-y: hidden;
	display: flex;
	flex-direction: row;
	height: 100%;
}

// ----------------------------------------------------------------------------------------------------
// > Header
// ----------------------------------------------------------------------------------------------------
.main-nav{
	width: 20%;
	box-sizing: border-box;
	height: 100%;
	margin: 0;
	padding: 0;
	padding-top: 2rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width: 15rem;
	text-align: center;
	background-color: #292b2b;
	color: white;
	
	img{
		width: 5rem;
		height: 5rem;
		margin: 0 0.5rem;
		display: block;
		margin: 0 auto;
	}
	li{
		box-sizing: border-box;
		list-style-type: none;
		margin: 0;
		margin-bottom: 1rem;
		padding: 0;
		width: 100%;

		&:nth-child(2){
			margin-right: auto;
			font-size: 1.5rem;
			margin-bottom: 3rem;
		}
		a{
			padding: 0 1rem;
		}
	}
	button{
		border: none;
		margin: 0 auto;
		box-sizing: border-box;
		padding: 0 1rem;
		color: white;
		font-size: 1rem;
	}
	.generate-btn{
		padding-top: 2rem;

		button{
			background-color: #2ecc71;
			height: 3rem;
			border-radius: 0.3rem;

			&:hover{
				background-color: lighten(#2ecc71, 20%);
			}
		}
	}
	.reset-btn a{
		color: #e74c3c;
	}
}

.content{
	width: 80%;
	box-sizing: border-box;
	flex: 1;
	overflow-y: auto;
	padding: 2rem;
	text-align: center;
}

.col-l{
	@include span(2 of 4);
	text-align: left;
}
.col-r{
	@include span(2 of 4 last);
	text-align: left;
}

.theme-infos{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	li{
		box-sizing: border-box;
		margin: 0;
		margin-bottom: 1rem;
		padding: 0;
		list-style-type: none;
		text-align: left;

		&:nth-child(2),
		&:nth-child(3){
			@include span(2 of 6);
		}
		&:nth-child(4){
			@include span(2 of 6 last);
		}
	}
}
.import{

}


.select-var-cat{
	text-align: center;
	
	select{
		width: 20rem;
	}
}
.btn-load{
	text-align: center;
}
.edit-vars{
	@include clearfix;
	position: relative;
	background-color: #F3F3F3;
	margin: 2rem 0;
	margin-top: 4rem;
	padding: 2rem;
	
	h1{
		margin-top: 0;

		&:before{
			content: '';
			display: block;
			position: absolute;
			top: -4rem;
			right: 50%;
			margin-right: -2rem;
			border: 2rem solid transparent;
			border-bottom-color: #F3F3F3;
		}
	}
}


.less-error-message{
	//display: none;
}
#drop_zone{
	text-align: center; 
	margin-bottom: 2rem;
	line-height: 1.5rem;
	font-size: 1.5rem;
	background-color: #f39c12;
	color: white;
	padding: 5rem;
	padding-top: 3rem;
	// text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 0.1rem;

	i{
		font-size: 8rem;
		line-height: 8rem;
	}
}

#preview{
	padding: 2rem;
}
.help-block{
	color: gray;
	text-align: center;
}

.vars-list{
	padding: 0;
	margin: 0;
	@include container;
}
.input-group-1-2,
.input-group-1-3,
.input-group-1-4{
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 1.5rem;
	text-align: left;
}
.input-group-1-2{
	@include gallery(2 of 4);
}
.input-group-1-3{
	@include gallery(2 of 6);
}
.input-group-1-4{
	@include gallery(2 of 8);
}