<h2 id="alerts">Alerts</h2>
<p>Define alert colors, border radius, and padding.</p>
<div class="row">
	<div class="col-xs-4">
		<label for="input-@alert-padding">@alert-padding</label>
		<input id="input-@alert-padding" type="text" ng-model="lessVars['@alert-padding']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@alert-border-radius">@alert-border-radius</label>
		<input id="input-@alert-border-radius" type="text" ng-model="lessVars['@alert-border-radius']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@alert-link-font-weight">@alert-link-font-weight</label>
		<input id="input-@alert-link-font-weight" type="text" ng-model="lessVars['@alert-link-font-weight']" ng-change="refresh()" class="form-control">
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-4">
		<label for="input-@alert-success-bg">@alert-success-bg</label>
		<input id="input-@alert-success-bg" type="text" ng-model="lessVars['@alert-success-bg']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@alert-success-text">@alert-success-text</label>
		<input id="input-@alert-success-text" type="text" ng-model="lessVars['@alert-success-text']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@alert-success-border">@alert-success-border</label>
		<input id="input-@alert-success-border" type="text" ng-model="lessVars['@alert-success-border']" ng-change="refresh()" class="form-control">
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-4">
		<label for="input-@alert-info-bg">@alert-info-bg</label>
		<input id="input-@alert-info-bg" type="text" ng-model="lessVars['@alert-info-bg']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@alert-info-text">@alert-info-text</label>
		<input id="input-@alert-info-text" type="text" ng-model="lessVars['@alert-info-text']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@alert-info-border">@alert-info-border</label>
		<input id="input-@alert-info-border" type="text" ng-model="lessVars['@alert-info-border']" ng-change="refresh()" class="form-control">
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-4">
		<label for="input-@alert-warning-bg">@alert-warning-bg</label>
		<input id="input-@alert-warning-bg" type="text" ng-model="lessVars['@alert-warning-bg']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@alert-warning-text">@alert-warning-text</label>
		<input id="input-@alert-warning-text" type="text" ng-model="lessVars['@alert-warning-text']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@alert-warning-border">@alert-warning-border</label>
		<input id="input-@alert-warning-border" type="text" ng-model="lessVars['@alert-warning-border']" ng-change="refresh()" class="form-control">
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-4">
		<label for="input-@alert-danger-bg">@alert-danger-bg</label>
		<input id="input-@alert-danger-bg" type="text" ng-model="lessVars['@alert-danger-bg']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@alert-danger-text">@alert-danger-text</label>
		<input id="input-@alert-danger-text" type="text" ng-model="lessVars['@alert-danger-text']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@alert-danger-border">@alert-danger-border</label>
		<input id="input-@alert-danger-border" type="text" ng-model="lessVars['@alert-danger-border']" ng-change="refresh()" class="form-control">
	</div>
</div>