<h2 id="breadcrumbs">Breadcrumbs</h2>
<div class="row">
	<div class="col-xs-4">
		<label for="input-@breadcrumb-padding-vertical">@breadcrumb-padding-vertical</label>
		<input id="input-@breadcrumb-padding-vertical" type="text" ng-model="lessVars['@breadcrumb-padding-vertical']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@breadcrumb-padding-horizontal">@breadcrumb-padding-horizontal</label>
		<input id="input-@breadcrumb-padding-horizontal" type="text" ng-model="lessVars['@breadcrumb-padding-horizontal']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@breadcrumb-bg">@breadcrumb-bg</label>
		<input id="input-@breadcrumb-bg" type="text" ng-model="lessVars['@breadcrumb-bg']" ng-change="refresh()" class="form-control">
		<p class="help-block">Breadcrumb background color</p>
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-4">
		<label for="input-@breadcrumb-color">@breadcrumb-color</label>
		<input id="input-@breadcrumb-color" type="text" ng-model="lessVars['@breadcrumb-color']" ng-change="refresh()" class="form-control">
		<p class="help-block">Breadcrumb text color</p>
	</div>
	<div class="col-xs-4">
		<label for="input-@breadcrumb-active-color">@breadcrumb-active-color</label>
		<input id="input-@breadcrumb-active-color" type="text" ng-model="lessVars['@breadcrumb-active-color']" ng-change="refresh()" class="form-control">
		<p class="help-block">Text color of current page in the breadcrumb</p>
	</div>
	<div class="col-xs-4">
		<label for="input-@breadcrumb-separator">@breadcrumb-separator</label>
		<input id="input-@breadcrumb-separator" type="text" ng-model="lessVars['@breadcrumb-separator']" ng-change="refresh()" class="form-control">
		<p class="help-block">Textual separator for between breadcrumb elements</p>
	</div>
</div>