<h1 id="buttons">Buttons</h1>
<p>For each of Bootstrap's buttons, define text, background and border color.</p>
<div class="row">
	<div class="col-xs-4">
		<label for="input-@btn-font-weight">@btn-font-weight</label>
		<input id="input-@btn-font-weight" type="text" ng-model="lessVars['@btn-font-weight']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@btn-default-color">@btn-default-color</label>
		<input id="input-@btn-default-color" type="text" ng-model="lessVars['@btn-default-color']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@btn-default-bg">@btn-default-bg</label>
		<input id="input-@btn-default-bg" type="text" ng-model="lessVars['@btn-default-bg']" ng-change="refresh()" class="form-control">
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-4">
		<label for="input-@btn-default-border">@btn-default-border</label>
		<input id="input-@btn-default-border" type="text" ng-model="lessVars['@btn-default-border']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@btn-primary-color">@btn-primary-color</label>
		<input id="input-@btn-primary-color" type="text" ng-model="lessVars['@btn-primary-color']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@btn-primary-bg">@btn-primary-bg</label>
		<input id="input-@btn-primary-bg" type="text" ng-model="lessVars['@btn-primary-bg']" ng-change="refresh()" class="form-control">
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-4">
		<label for="input-@btn-primary-border">@btn-primary-border</label>
		<input id="input-@btn-primary-border" type="text" ng-model="lessVars['@btn-primary-border']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@btn-success-color">@btn-success-color</label>
		<input id="input-@btn-success-color" type="text" ng-model="lessVars['@btn-success-color']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@btn-success-bg">@btn-success-bg</label>
		<input id="input-@btn-success-bg" type="text" ng-model="lessVars['@btn-success-bg']" ng-change="refresh()" class="form-control">
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-4">
		<label for="input-@btn-success-border">@btn-success-border</label>
		<input id="input-@btn-success-border" type="text" ng-model="lessVars['@btn-success-border']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@btn-info-color">@btn-info-color</label>
		<input id="input-@btn-info-color" type="text" ng-model="lessVars['@btn-info-color']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@btn-info-bg">@btn-info-bg</label>
		<input id="input-@btn-info-bg" type="text" ng-model="lessVars['@btn-info-bg']" ng-change="refresh()" class="form-control">
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-4">
		<label for="input-@btn-info-border">@btn-info-border</label>
		<input id="input-@btn-info-border" type="text" ng-model="lessVars['@btn-info-border']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@btn-warning-color">@btn-warning-color</label>
		<input id="input-@btn-warning-color" type="text" ng-model="lessVars['@btn-warning-color']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@btn-warning-bg">@btn-warning-bg</label>
		<input id="input-@btn-warning-bg" type="text" ng-model="lessVars['@btn-warning-bg']" ng-change="refresh()" class="form-control">
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-4">
		<label for="input-@btn-warning-border">@btn-warning-border</label>
		<input id="input-@btn-warning-border" type="text" ng-model="lessVars['@btn-warning-border']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@btn-danger-color">@btn-danger-color</label>
		<input id="input-@btn-danger-color" type="text" ng-model="lessVars['@btn-danger-color']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@btn-danger-bg">@btn-danger-bg</label>
		<input id="input-@btn-danger-bg" type="text" ng-model="lessVars['@btn-danger-bg']" ng-change="refresh()" class="form-control">
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-4">
		<label for="input-@btn-danger-border">@btn-danger-border</label>
		<input id="input-@btn-danger-border" type="text" ng-model="lessVars['@btn-danger-border']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@btn-link-disabled-color">@btn-link-disabled-color</label>
		<input id="input-@btn-link-disabled-color" type="text" ng-model="lessVars['@btn-link-disabled-color']" ng-change="refresh()" class="form-control">
	</div>
</div>



<br>
<h2>Preview</h2>
<br>
<div class="bs-docs-section">

	<div class="row">
		<div class="col-lg-6">

			<p class="bs-component">
				<a href="#" class="btn btn-default">Default</a>
				<a href="#" class="btn btn-primary">Primary</a>
				<a href="#" class="btn btn-success">Success</a>
				<a href="#" class="btn btn-info">Info</a>
				<a href="#" class="btn btn-warning">Warning</a>
				<a href="#" class="btn btn-danger">Danger</a>
				<a href="#" class="btn btn-link">Link</a>
			</p>

			<p class="bs-component">
				<a href="#" class="btn btn-default disabled">Default</a>
				<a href="#" class="btn btn-primary disabled">Primary</a>
				<a href="#" class="btn btn-success disabled">Success</a>
				<a href="#" class="btn btn-info disabled">Info</a>
				<a href="#" class="btn btn-warning disabled">Warning</a>
				<a href="#" class="btn btn-danger disabled">Danger</a>
				<a href="#" class="btn btn-link disabled">Link</a>
			</p>


			<div style="margin-bottom: 15px;">
				<div class="btn-toolbar bs-component" style="margin: 0;">
					<div class="btn-group">
						<a href="#" class="btn btn-default">Default</a>
						<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li class="divider"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
					</div>

					<div class="btn-group">
						<a href="#" class="btn btn-primary">Primary</a>
						<a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li class="divider"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
					</div>

					<div class="btn-group">
						<a href="#" class="btn btn-success">Success</a>
						<a href="#" class="btn btn-success dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li class="divider"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
					</div>

					<div class="btn-group">
						<a href="#" class="btn btn-info">Info</a>
						<a href="#" class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li class="divider"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
					</div>

					<div class="btn-group">
						<a href="#" class="btn btn-warning">Warning</a>
						<a href="#" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li class="divider"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
					</div>
				</div>
			</div>

			<p class="bs-component">
				<a href="#" class="btn btn-primary btn-lg">Large button</a>
				<a href="#" class="btn btn-primary">Default button</a>
				<a href="#" class="btn btn-primary btn-sm">Small button</a>
				<a href="#" class="btn btn-primary btn-xs">Mini button</a>
			</p>

		</div>
		<div class="col-lg-6">

			<p class="bs-component">
				<a href="#" class="btn btn-default btn-lg btn-block">Block level button</a>
			</p>


			<div class="bs-component" style="margin-bottom: 15px;">
				<div class="btn-group btn-group-justified">
					<a href="#" class="btn btn-default">Left</a>
					<a href="#" class="btn btn-default">Middle</a>
					<a href="#" class="btn btn-default">Right</a>
				</div>
			</div>

			<div class="bs-component" style="margin-bottom: 15px;">
				<div class="btn-toolbar">
					<div class="btn-group">
						<a href="#" class="btn btn-default">1</a>
						<a href="#" class="btn btn-default">2</a>
						<a href="#" class="btn btn-default">3</a>
						<a href="#" class="btn btn-default">4</a>
					</div>

					<div class="btn-group">
						<a href="#" class="btn btn-default">5</a>
						<a href="#" class="btn btn-default">6</a>
						<a href="#" class="btn btn-default">7</a>
					</div>

					<div class="btn-group">
						<a href="#" class="btn btn-default">8</a>
						<div class="btn-group">
							<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								Dropdown
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#">Dropdown link</a></li>
								<li><a href="#">Dropdown link</a></li>
								<li><a href="#">Dropdown link</a></li>
							 </ul>
						</div>
					</div>
				</div>
			</div>

			<div class="bs-component">
				<div class="btn-group-vertical">
						<a href="#" class="btn btn-default">Button</a>
						<a href="#" class="btn btn-default">Button</a>
						<a href="#" class="btn btn-default">Button</a>
						<a href="#" class="btn btn-default">Button</a>
				</div>
			</div>

		</div>
	</div>
</div>