<h2 id="close">Close</h2>

<ul class="vars-list">

	<li class="input-group-1-3">
		<label for="input-@close-font-weight">@close-font-weight</label>
		<input id="input-@close-font-weight" type="text" ng-model="lessVars['@close-font-weight']" ng-change="refresh()" class="input">
	</li>
	<li class="input-group-1-3">
		<label for="input-@close-color">@close-color</label>
		<input id="input-@close-color" type="text" ng-model="lessVars['@close-color']" ng-change="refresh()" class="input">
	</div>
	<li class="input-group-1-3">
		<label for="input-@close-text-shadow">@close-text-shadow</label>
		<input id="input-@close-text-shadow" type="text" ng-model="lessVars['@close-text-shadow']" ng-change="refresh()" class="input">
	</li>
</ul>