<h2 id="close">Close</h2>
<div class="row">
	<div class="col-xs-4">
		<label for="input-@close-font-weight">@close-font-weight</label>
		<input id="input-@close-font-weight" type="text" ng-model="lessVars['@close-font-weight']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@close-color">@close-color</label>
		<input id="input-@close-color" type="text" ng-model="lessVars['@close-color']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@close-text-shadow">@close-text-shadow</label>
		<input id="input-@close-text-shadow" type="text" ng-model="lessVars['@close-text-shadow']" ng-change="refresh()" class="form-control">
	</div>
</div>