<h1 id="forms">Forms</h1>
<div class="row">
	<div class="col-xs-4">
		<label for="input-@input-bg">@input-bg</label>
		<input id="input-@input-bg" type="text" ng-model="lessVars['@input-bg']" ng-change="refresh()" class="form-control">
		<p class="help-block"><code>&lt;input&gt;</code> background color</p>
	</div>
	<div class="col-xs-4">
		<label for="input-@input-bg-disabled">@input-bg-disabled</label>
		<input id="input-@input-bg-disabled" type="text" ng-model="lessVars['@input-bg-disabled']" ng-change="refresh()" class="form-control">
		<p class="help-block"><code>&lt;input disabled&gt;</code> background color</p>
	</div>
	<div class="col-xs-4">
		<label for="input-@input-color">@input-color</label>
		<input id="input-@input-color" type="text" ng-model="lessVars['@input-color']" ng-change="refresh()" class="form-control">
		<p class="help-block">Text color for <code>&lt;input&gt;</code>s</p>
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-4">
		<label for="input-@input-border">@input-border</label>
		<input id="input-@input-border" type="text" ng-model="lessVars['@input-border']" ng-change="refresh()" class="form-control">
		<p class="help-block"><code>&lt;input&gt;</code> border color</p>
	</div>
	<div class="col-xs-4">
		<label for="input-@input-border-radius">@input-border-radius</label>
		<input id="input-@input-border-radius" type="text" ng-model="lessVars['@input-border-radius']" ng-change="refresh()" class="form-control">
		<p class="help-block">Default <code>.form-control</code> border radius</p>
	</div>
	<div class="col-xs-4">
		<label for="input-@input-border-radius-large">@input-border-radius-large</label>
		<input id="input-@input-border-radius-large" type="text" ng-model="lessVars['@input-border-radius-large']" ng-change="refresh()" class="form-control">
		<p class="help-block">Large <code>.form-control</code> border radius</p>
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-4">
		<label for="input-@input-border-radius-small">@input-border-radius-small</label>
		<input id="input-@input-border-radius-small" type="text" ng-model="lessVars['@input-border-radius-small']" ng-change="refresh()" class="form-control">
		<p class="help-block">Small <code>.form-control</code> border radius</p>
	</div>
	<div class="col-xs-4">
		<label for="input-@input-border-focus">@input-border-focus</label>
		<input id="input-@input-border-focus" type="text" ng-model="lessVars['@input-border-focus']" ng-change="refresh()" class="form-control">
		<p class="help-block">Border color for inputs on focus</p>
	</div>
	<div class="col-xs-4">
		<label for="input-@input-color-placeholder">@input-color-placeholder</label>
		<input id="input-@input-color-placeholder" type="text" ng-model="lessVars['@input-color-placeholder']" ng-change="refresh()" class="form-control">
		<p class="help-block">Placeholder text color</p>
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-4">
		<label for="input-@input-height-base">@input-height-base</label>
		<input id="input-@input-height-base" type="text" ng-model="lessVars['@input-height-base']" ng-change="refresh()" class="form-control">
		<p class="help-block">Default <code>.form-control</code> height</p>
	</div>
	<div class="col-xs-4">
		<label for="input-@input-height-large">@input-height-large</label>
		<input id="input-@input-height-large" type="text" ng-model="lessVars['@input-height-large']" ng-change="refresh()" class="form-control">
		<p class="help-block">Large <code>.form-control</code> height</p>
	</div>
	<div class="col-xs-4">
		<label for="input-@input-height-small">@input-height-small</label>
		<input id="input-@input-height-small" type="text" ng-model="lessVars['@input-height-small']" ng-change="refresh()" class="form-control">
		<p class="help-block">Small <code>.form-control</code> height</p>
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-4">
		<label for="input-@legend-color">@legend-color</label>
		<input id="input-@legend-color" type="text" ng-model="lessVars['@legend-color']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@legend-border-color">@legend-border-color</label>
		<input id="input-@legend-border-color" type="text" ng-model="lessVars['@legend-border-color']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@input-group-addon-bg">@input-group-addon-bg</label>
		<input id="input-@input-group-addon-bg" type="text" ng-model="lessVars['@input-group-addon-bg']" ng-change="refresh()" class="form-control">
		<p class="help-block">Background color for textual input addons</p>
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-4">
		<label for="input-@input-group-addon-border-color">@input-group-addon-border-color</label>
		<input id="input-@input-group-addon-border-color" type="text" ng-model="lessVars['@input-group-addon-border-color']" ng-change="refresh()" class="form-control">
		<p class="help-block">Border color for textual input addons</p>
	</div>
	<div class="col-xs-4">
		<label for="input-@cursor-disabled">@cursor-disabled</label>
		<input id="input-@cursor-disabled" type="text" ng-model="lessVars['@cursor-disabled']" ng-change="refresh()" class="form-control">
		<p class="help-block">Disabled cursor for form controls and buttons.</p>
	</div>
</div>



<br>
<h2>Preview</h2>
<br>


<div class="bs-docs-section">
	<div class="row">
		<div class="col-lg-6">
			<div class="well bs-component">
				<form class="form-horizontal">
					<fieldset>
						<legend>Legend</legend>
						<div class="form-group">
							<label for="inputEmail" class="col-lg-2 control-label">Email</label>
							<div class="col-lg-10">
								<input type="text" class="form-control" id="inputEmail" placeholder="Email">
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="col-lg-2 control-label">Password</label>
							<div class="col-lg-10">
								<input type="password" class="form-control" id="inputPassword" placeholder="Password">
								<div class="checkbox">
									<label>
										<input type="checkbox"> Checkbox
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="textArea" class="col-lg-2 control-label">Textarea</label>
							<div class="col-lg-10">
								<textarea class="form-control" rows="3" id="textArea"></textarea>
								<span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label">Radios</label>
							<div class="col-lg-10">
								<div class="radio">
									<label>
										<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
										Option one is this
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
										Option two can be something else
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="select" class="col-lg-2 control-label">Selects</label>
							<div class="col-lg-10">
								<select class="form-control" id="select">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
								<br>
								<select multiple="" class="form-control">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-10 col-lg-offset-2">
								<button class="btn btn-default">Cancel</button>
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<div class="col-lg-4 col-lg-offset-1">

				<form class="bs-component">
					<div class="form-group">
						<label class="control-label" for="focusedInput">Focused input</label>
						<input class="form-control" id="focusedInput" type="text" value="This is focused...">
					</div>

					<div class="form-group">
						<label class="control-label" for="disabledInput">Disabled input</label>
						<input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled="">
					</div>

					<div class="form-group has-warning">
						<label class="control-label" for="inputWarning">Input warning</label>
						<input type="text" class="form-control" id="inputWarning">
					</div>

					<div class="form-group has-error">
						<label class="control-label" for="inputError">Input error</label>
						<input type="text" class="form-control" id="inputError">
					</div>

					<div class="form-group has-success">
						<label class="control-label" for="inputSuccess">Input success</label>
						<input type="text" class="form-control" id="inputSuccess">
					</div>

					<div class="form-group">
						<label class="control-label" for="inputLarge">Large input</label>
						<input class="form-control input-lg" type="text" id="inputLarge">
					</div>

					<div class="form-group">
						<label class="control-label" for="inputDefault">Default input</label>
						<input type="text" class="form-control" id="inputDefault">
					</div>

					<div class="form-group">
						<label class="control-label" for="inputSmall">Small input</label>
						<input class="form-control input-sm" type="text" id="inputSmall">
					</div>

					<div class="form-group">
						<label class="control-label">Input addons</label>
						<div class="input-group">
							<span class="input-group-addon">$</span>
							<input type="text" class="form-control">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button">Button</button>
							</span>
						</div>
					</div>
				</form>

		</div>
	</div>
</div>
