<h2 id="form-states-and-alerts">Form states and alerts</h2>
<p>Define colors for form feedback states and, by default, alerts.</p>
<div class="row">
	<div class="col-xs-4">
		<label for="input-@state-success-text">@state-success-text</label>
		<input id="input-@state-success-text" type="text" ng-model="lessVars['@state-success-text']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@state-success-bg">@state-success-bg</label>
		<input id="input-@state-success-bg" type="text" ng-model="lessVars['@state-success-bg']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@state-success-border">@state-success-border</label>
		<input id="input-@state-success-border" type="text" ng-model="lessVars['@state-success-border']" ng-change="refresh()" class="form-control">
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-4">
		<label for="input-@state-info-text">@state-info-text</label>
		<input id="input-@state-info-text" type="text" ng-model="lessVars['@state-info-text']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@state-info-bg">@state-info-bg</label>
		<input id="input-@state-info-bg" type="text" ng-model="lessVars['@state-info-bg']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@state-info-border">@state-info-border</label>
		<input id="input-@state-info-border" type="text" ng-model="lessVars['@state-info-border']" ng-change="refresh()" class="form-control">
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-4">
		<label for="input-@state-warning-text">@state-warning-text</label>
		<input id="input-@state-warning-text" type="text" ng-model="lessVars['@state-warning-text']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@state-warning-bg">@state-warning-bg</label>
		<input id="input-@state-warning-bg" type="text" ng-model="lessVars['@state-warning-bg']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@state-warning-border">@state-warning-border</label>
		<input id="input-@state-warning-border" type="text" ng-model="lessVars['@state-warning-border']" ng-change="refresh()" class="form-control">
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-4">
		<label for="input-@state-danger-text">@state-danger-text</label>
		<input id="input-@state-danger-text" type="text" ng-model="lessVars['@state-danger-text']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@state-danger-bg">@state-danger-bg</label>
		<input id="input-@state-danger-bg" type="text" ng-model="lessVars['@state-danger-bg']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@state-danger-border">@state-danger-border</label>
		<input id="input-@state-danger-border" type="text" ng-model="lessVars['@state-danger-border']" ng-change="refresh()" class="form-control">
	</div>
</div>