<h2 id="list-group">List group</h2>
<ul class="vars-list">

	<li class="input-group-1-3">
		<label for="input-@list-group-bg">@list-group-bg</label>
		<input id="input-@list-group-bg" type="text" ng-model="lessVars['@list-group-bg']" ng-change="refresh()" class="input">
		<p class="help-block">Background color on <code>.list-group-item</code></p>
	</li>
	<li class="input-group-1-3">
		<label for="input-@list-group-border">@list-group-border</label>
		<input id="input-@list-group-border" type="text" ng-model="lessVars['@list-group-border']" ng-change="refresh()" class="input">
		<p class="help-block"><code>.list-group-item</code> border color</p>
	</li>
	<li class="input-group-1-3">
		<label for="input-@list-group-border-radius">@list-group-border-radius</label>
		<input id="input-@list-group-border-radius" type="text" ng-model="lessVars['@list-group-border-radius']" ng-change="refresh()" class="input">
		<p class="help-block">List group border radius</p>
	</li>
	<li class="input-group-1-3">
		<label for="input-@list-group-hover-bg">@list-group-hover-bg</label>
		<input id="input-@list-group-hover-bg" type="text" ng-model="lessVars['@list-group-hover-bg']" ng-change="refresh()" class="input">
		<p class="help-block">Background color of single list items on hover</p>
	</li>
	<li class="input-group-1-3">
		<label for="input-@list-group-active-color">@list-group-active-color</label>
		<input id="input-@list-group-active-color" type="text" ng-model="lessVars['@list-group-active-color']" ng-change="refresh()" class="input">
		<p class="help-block">Text color of active list items</p>
	</li>
	<li class="input-group-1-3">
		<label for="input-@list-group-active-bg">@list-group-active-bg</label>
		<input id="input-@list-group-active-bg" type="text" ng-model="lessVars['@list-group-active-bg']" ng-change="refresh()" class="input">
		<p class="help-block">Background color of active list items</p>
	</li>
	<li class="input-group-1-3">
		<label for="input-@list-group-active-border">@list-group-active-border</label>
		<input id="input-@list-group-active-border" type="text" ng-model="lessVars['@list-group-active-border']" ng-change="refresh()" class="input">
		<p class="help-block">Border color of active list elements</p>
	</li>
	<li class="input-group-1-3">
		<label for="input-@list-group-active-text-color">@list-group-active-text-color</label>
		<input id="input-@list-group-active-text-color" type="text" ng-model="lessVars['@list-group-active-text-color']" ng-change="refresh()" class="input">
		<p class="help-block">Text color for content within active list items</p>
	</li>
	<li class="input-group-1-3">
		<label for="input-@list-group-disabled-color">@list-group-disabled-color</label>
		<input id="input-@list-group-disabled-color" type="text" ng-model="lessVars['@list-group-disabled-color']" ng-change="refresh()" class="input">
		<p class="help-block">Text color of disabled list items</p>
	</li>
	<li class="input-group-1-3">
		<label for="input-@list-group-disabled-bg">@list-group-disabled-bg</label>
		<input id="input-@list-group-disabled-bg" type="text" ng-model="lessVars['@list-group-disabled-bg']" ng-change="refresh()" class="input">
		<p class="help-block">Background color of disabled list items</p>
	</li>
	<li class="input-group-1-3">
		<label for="input-@list-group-disabled-text-color">@list-group-disabled-text-color</label>
		<input id="input-@list-group-disabled-text-color" type="text" ng-model="lessVars['@list-group-disabled-text-color']" ng-change="refresh()" class="input">
		<p class="help-block">Text color for content within disabled list items</p>
	</li>
	<li class="input-group-1-3">
		<label for="input-@list-group-link-color">@list-group-link-color</label>
		<input id="input-@list-group-link-color" type="text" ng-model="lessVars['@list-group-link-color']" ng-change="refresh()" class="input">
	</li>
	<li class="input-group-1-3">
		<label for="input-@list-group-link-hover-color">@list-group-link-hover-color</label>
		<input id="input-@list-group-link-hover-color" type="text" ng-model="lessVars['@list-group-link-hover-color']" ng-change="refresh()" class="input">
	</li>
	<li class="input-group-1-3">
		<label for="input-@list-group-link-heading-color">@list-group-link-heading-color</label>
		<input id="input-@list-group-link-heading-color" type="text" ng-model="lessVars['@list-group-link-heading-color']" ng-change="refresh()" class="input">
	</li>
</ul>