<h2 id="modals">Modals</h2>
<div class="row">
	<div class="col-xs-4">
		<label for="input-@modal-inner-padding">@modal-inner-padding</label>
		<input id="input-@modal-inner-padding" type="text" ng-model="lessVars['@modal-inner-padding']" ng-change="refresh()" class="form-control">
		<p class="help-block">Padding applied to the modal body</p>
	</div>
	<div class="col-xs-4">
		<label for="input-@modal-title-padding">@modal-title-padding</label>
		<input id="input-@modal-title-padding" type="text" ng-model="lessVars['@modal-title-padding']" ng-change="refresh()" class="form-control">
		<p class="help-block">Padding applied to the modal title</p>
	</div>
	<div class="col-xs-4">
		<label for="input-@modal-title-line-height">@modal-title-line-height</label>
		<input id="input-@modal-title-line-height" type="text" ng-model="lessVars['@modal-title-line-height']" ng-change="refresh()" class="form-control">
		<p class="help-block">Modal title line-height</p>
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-4">
		<label for="input-@modal-content-bg">@modal-content-bg</label>
		<input id="input-@modal-content-bg" type="text" ng-model="lessVars['@modal-content-bg']" ng-change="refresh()" class="form-control">
		<p class="help-block">Background color of modal content area</p>
	</div>
	<div class="col-xs-4">
		<label for="input-@modal-content-border-color">@modal-content-border-color</label>
		<input id="input-@modal-content-border-color" type="text" ng-model="lessVars['@modal-content-border-color']" ng-change="refresh()" class="form-control">
		<p class="help-block">Modal content border color</p>
	</div>
	<div class="col-xs-4">
		<label for="input-@modal-content-fallback-border-color">@modal-content-fallback-border-color</label>
		<input id="input-@modal-content-fallback-border-color" type="text" ng-model="lessVars['@modal-content-fallback-border-color']" ng-change="refresh()" class="form-control">
		<p class="help-block">Modal content border color <strong>for IE8</strong></p>
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-4">
		<label for="input-@modal-backdrop-bg">@modal-backdrop-bg</label>
		<input id="input-@modal-backdrop-bg" type="text" ng-model="lessVars['@modal-backdrop-bg']" ng-change="refresh()" class="form-control">
		<p class="help-block">Modal backdrop background color</p>
	</div>
	<div class="col-xs-4">
		<label for="input-@modal-backdrop-opacity">@modal-backdrop-opacity</label>
		<input id="input-@modal-backdrop-opacity" type="text" ng-model="lessVars['@modal-backdrop-opacity']" ng-change="refresh()" class="form-control">
		<p class="help-block">Modal backdrop opacity</p>
	</div>
	<div class="col-xs-4">
		<label for="input-@modal-header-border-color">@modal-header-border-color</label>
		<input id="input-@modal-header-border-color" type="text" ng-model="lessVars['@modal-header-border-color']" ng-change="refresh()" class="form-control">
		<p class="help-block">Modal header border color</p>
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-4">
		<label for="input-@modal-footer-border-color">@modal-footer-border-color</label>
		<input id="input-@modal-footer-border-color" type="text" ng-model="lessVars['@modal-footer-border-color']" ng-change="refresh()" class="form-control">
		<p class="help-block">Modal footer border color</p>
	</div>
	<div class="col-xs-4">
		<label for="input-@modal-lg">@modal-lg</label>
		<input id="input-@modal-lg" type="text" ng-model="lessVars['@modal-lg']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@modal-md">@modal-md</label>
		<input id="input-@modal-md" type="text" ng-model="lessVars['@modal-md']" ng-change="refresh()" class="form-control">
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-4">
		<label for="input-@modal-sm">@modal-sm</label>
		<input id="input-@modal-sm" type="text" ng-model="lessVars['@modal-sm']" ng-change="refresh()" class="form-control">
	</div>
</div>