<h2 id="navs">Navs</h2>
<h3 id="shared-nav-styles">Shared nav styles</h3>
<ul class="vars-list">

	<li class="input-group-1-3">
		<label for="input-@nav-link-padding">@nav-link-padding</label>
		<input id="input-@nav-link-padding" type="text" ng-model="lessVars['@nav-link-padding']" ng-change="refresh()" class="input">
	</li>
	<li class="input-group-1-3">
		<label for="input-@nav-link-hover-bg">@nav-link-hover-bg</label>
		<input id="input-@nav-link-hover-bg" type="text" ng-model="lessVars['@nav-link-hover-bg']" ng-change="refresh()" class="input">
	</li>
	<li class="input-group-1-3">
		<label for="input-@nav-disabled-link-color">@nav-disabled-link-color</label>
		<input id="input-@nav-disabled-link-color" type="text" ng-model="lessVars['@nav-disabled-link-color']" ng-change="refresh()" class="input">
	</li>
	<li class="input-group-1-3">
		<label for="input-@nav-disabled-link-hover-color">@nav-disabled-link-hover-color</label>
		<input id="input-@nav-disabled-link-hover-color" type="text" ng-model="lessVars['@nav-disabled-link-hover-color']" ng-change="refresh()" class="input">
	</li>
</ul>