<h2 id="pills">Pills</h2>
<div class="row">
	<div class="col-xs-4">
		<label for="input-@nav-pills-border-radius">@nav-pills-border-radius</label>
		<input id="input-@nav-pills-border-radius" type="text" ng-model="lessVars['@nav-pills-border-radius']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@nav-pills-active-link-hover-bg">@nav-pills-active-link-hover-bg</label>
		<input id="input-@nav-pills-active-link-hover-bg" type="text" ng-model="lessVars['@nav-pills-active-link-hover-bg']" ng-change="refresh()" class="form-control">
	</div>
	<div class="col-xs-4">
		<label for="input-@nav-pills-active-link-hover-color">@nav-pills-active-link-hover-color</label>
		<input id="input-@nav-pills-active-link-hover-color" type="text" ng-model="lessVars['@nav-pills-active-link-hover-color']" ng-change="refresh()" class="form-control">
	</div>
</div>