<section ng-show="selectedCat == 'scaffolding'">
	
	<h2>Scaffolding</h2>
	<div class="row">
		<div class="col-xs-4">
			<div class="input-group">
				<label for="input-@body-bg" class="input-group-addon">@body-bg</label>
				<input id="input-@body-bg" type="text" value="#fff" ng-model="lessVars['@body-bg']" ng-change="refresh()" class="form-control">
			</div>
			<p class="help-block">Background color for <code>&lt;body&gt;</code>.</p>
		</div>

		<div class="col-xs-4">
			<div class="input-group">
				<label for="input-@text-color" class="input-group-addon">@text-color</label>
				<input id="input-@text-color" type="text" value="@gray-dark" ng-model="lessVars['@text-color']" ng-change="refresh()" class="form-control">
			</div>
			<p class="help-block">Global text color on <code>&lt;body&gt;</code>.</p>
		</div>

		<div class="col-xs-4">
			<div class="input-group">
				<label for="input-@link-color" class="input-group-addon">@link-color</label>
				<input id="input-@link-color" type="text" value="@brand-primary" ng-model="lessVars['@link-color']" ng-change="refresh()" class="form-control">
			</div>
			<p class="help-block">Global textual link color.</p>
		</div>
		<div class="clearfix"></div>

		<div class="col-xs-4">
			<div class="input-group">
				<label for="input-@link-hover-color" class="input-group-addon">@link-hover-color</label>
				<input id="input-@link-hover-color" type="text" value="darken(@link-color, 15%)" ng-model="lessVars['@link-hover-color']" ng-change="refresh()" class="form-control">
			</div>
			<p class="help-block">Link hover color set via <code>darken()</code> function.</p>
		</div>

		<div class="col-xs-4">
			<div class="input-group">
				<label for="input-@link-hover-decoration" class="input-group-addon">@link-hover-decoration</label>
				<input id="input-@link-hover-decoration" type="text" value="underline" ng-model="lessVars['@link-hover-decoration']" ng-change="refresh()" class="form-control">
			</div>
			<p class="help-block">Link hover decoration.</p>
		</div>
	</div>

</section>