<h2 id="scaffolding">Scaffolding</h2>
<p>Settings for some of the most global styles.</p>
<div class="row">
	<div class="col-xs-4">
		<label for="input-@body-bg">@body-bg</label>
		<input id="input-@body-bg" type="text" ng-model="lessVars['@body-bg']" ng-change="refresh()" class="form-control">
		<p class="help-block">Background color for <code>&lt;body&gt;</code>.</p>
	</div>
	<div class="col-xs-4">
		<label for="input-@text-color">@text-color</label>
		<input id="input-@text-color" type="text" ng-model="lessVars['@text-color']" ng-change="refresh()" class="form-control">
		<p class="help-block">Global text color on <code>&lt;body&gt;</code>.</p>
	</div>
	<div class="col-xs-4">
		<label for="input-@link-color">@link-color</label>
		<input id="input-@link-color" type="text" ng-model="lessVars['@link-color']" ng-change="refresh()" class="form-control">
		<p class="help-block">Global textual link color.</p>
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-4">
		<label for="input-@link-hover-color">@link-hover-color</label>
		<input id="input-@link-hover-color" type="text" ng-model="lessVars['@link-hover-color']" ng-change="refresh()" class="form-control">
		<p class="help-block">Link hover color set via <code>darken()</code> function.</p>
	</div>
	<div class="col-xs-4">
		<label for="input-@link-hover-decoration">@link-hover-decoration</label>
		<input id="input-@link-hover-decoration" type="text" ng-model="lessVars['@link-hover-decoration']" ng-change="refresh()" class="form-control">
		<p class="help-block">Link hover decoration.</p>
	</div>
</div>