<section class="container-fluid">
	
	<h2>Typography</h2>

	<div class="row">
		<div class="col-xs-4">
			<label for="input-@font-family-sans-serif">@font-family-sans-serif</label>
			<input id="input-@font-family-sans-serif" type="text" ng-model="lessVars['@font-family-sans-serif']" ng-change="refresh()" class="form-control">
		</div>
		<div class="col-xs-4">
			<label for="input-@font-family-serif">@font-family-serif</label>
			<input id="input-@font-family-serif" type="text" ng-model="lessVars['@font-family-serif']" ng-change="refresh()" class="form-control">
		</div>
		<div class="col-xs-4">
			<label for="input-@font-family-monospace">@font-family-monospace</label>
			<input id="input-@font-family-monospace" type="text" ng-model="lessVars['@font-family-monospace']" ng-change="refresh()" class="form-control">
			<p class="help-block">Default monospace fonts for <code>&lt;code&gt;</code>, <code>&lt;kbd&gt;</code>, and <code>&lt;pre&gt;</code>.</p>
		</div>
		<div class="clearfix"></div>
		<div class="col-xs-4">
			<label for="input-@font-family-base">@font-family-base</label>
			<input id="input-@font-family-base" type="text" ng-model="lessVars['@font-family-base']" ng-change="refresh()" class="form-control">
		</div>
		<div class="col-xs-4">
			<label for="input-@font-size-base">@font-size-base</label>
			<input id="input-@font-size-base" type="text" ng-model="lessVars['@font-size-base']" class="form-control">
		</div>
		<div class="col-xs-4">
			<label for="input-@font-size-large">@font-size-large</label>
			<input id="input-@font-size-large" type="text" ng-model="lessVars['@font-size-large']" ng-change="refresh()" class="form-control">
		</div>
		<div class="clearfix"></div>
		<div class="col-xs-4">
			<label for="input-@font-size-small">@font-size-small</label>
			<input id="input-@font-size-small" type="text" ng-model="lessVars['@font-size-small']" ng-change="refresh()" class="form-control">
		</div>
		<div class="col-xs-4">
			<label for="input-@font-size-h1">@font-size-h1</label>
			<input id="input-@font-size-h1" type="text" ng-model="lessVars['@font-size-h1']" ng-change="refresh()" class="form-control">
		</div>
		<div class="col-xs-4">
			<label for="input-@font-size-h2">@font-size-h2</label>
			<input id="input-@font-size-h2" type="text" ng-model="lessVars['@font-size-h2']" ng-change="refresh()" class="form-control">
		</div>
		<div class="clearfix"></div>
		<div class="col-xs-4">
			<label for="input-@font-size-h3">@font-size-h3</label>
			<input id="input-@font-size-h3" type="text" ng-model="lessVars['@font-size-h3']" ng-change="refresh()" class="form-control">
		</div>
		<div class="col-xs-4">
			<label for="input-@font-size-h4">@font-size-h4</label>
			<input id="input-@font-size-h4" type="text" ng-model="lessVars['@font-size-h4']" ng-change="refresh()" class="form-control">
		</div>
		<div class="col-xs-4">
			<label for="input-@font-size-h5">@font-size-h5</label>
			<input id="input-@font-size-h5" type="text" ng-model="lessVars['@font-size-h5']" ng-change="refresh()" class="form-control">
		</div>
		<div class="clearfix"></div>
		<div class="col-xs-4">
			<label for="input-@font-size-h6">@font-size-h6</label>
			<input id="input-@font-size-h6" type="text" ng-model="lessVars['@font-size-h6']" ng-change="refresh()" class="form-control">
		</div>
		<div class="col-xs-4">
			<label for="input-@line-height-base">@line-height-base</label>
			<input id="input-@line-height-base" type="text" ng-model="lessVars['@line-height-base']" ng-change="refresh()" class="form-control">
			<p class="help-block">Unit-less <code>line-height</code> for use in components like buttons.</p>
		</div>
		<div class="col-xs-4">
			<label for="input-@line-height-computed">@line-height-computed</label>
			<input id="input-@line-height-computed" type="text" ng-model="lessVars['@line-height-computed']" ng-change="refresh()" class="form-control">
			<p class="help-block">Computed "line-height" (<code>font-size</code> * <code>line-height</code>) for use with <code>margin</code>, <code>padding</code>, etc.</p>
		</div>
		<div class="clearfix"></div>
		<div class="col-xs-4">
			<label for="input-@headings-font-family">@headings-font-family</label>
			<input id="input-@headings-font-family" type="text" ng-model="lessVars['@headings-font-family']" ng-change="refresh()" class="form-control">
			<p class="help-block">By default, this inherits from the <code>&lt;body&gt;</code>.</p>
		</div>
		<div class="col-xs-4">
			<label for="input-@headings-font-weight">@headings-font-weight</label>
			<input id="input-@headings-font-weight" type="text" ng-model="lessVars['@headings-font-weight']" ng-change="refresh()" class="form-control">
		</div>
		<div class="col-xs-4">
			<label for="input-@headings-line-height">@headings-line-height</label>
			<input id="input-@headings-line-height" type="text" ng-model="lessVars['@headings-line-height']" ng-change="refresh()" class="form-control">
		</div>
		<div class="clearfix"></div>
		<div class="col-xs-4">
			<label for="input-@headings-color">@headings-color</label>
			<input id="input-@headings-color" type="text" g-model="lessVars['@headings-color']" ng-change="refresh()" class="form-control">
		</div>
	</div>

</section>