// ------------------------------------------------------------
// > FILE UPLOAD
// ------------------------------------------------------------

.waf-fileUpload{
	padding: 0;
	box-shadow: none !important;
	border: 1px solid @panel-default-border;
	background-color: @panel-default-heading-bg;
	border-radius: @border-radius-base;

	.waf-fileUpload-fileList{
		padding-left: 0.5rem;
	}
}