<div class="jumbotron">
	
	<div id="drop_zone" style="border: 4px dashed #acacac; padding: 3rem; text-align: center; margin: 2rem 0;" class="col-xs-6">
		Drop "config.json" or "variables.less" file here
	</div>

	<div class="btn-group col-xs-6" role="group">
		<select ng-model="selectedCat">
			<option value="colors">Colors</option>
			<option value="scaffolding">Scaffolding</option>
			<option value="typography">Typography</option>
			<option value="iconography">Iconography</option>
			<option value="components">Components</option>
			<option value="tables">Tables</option>
			<option value="options">options</option>
			<option value="forms">Forms</option>
			<option value="dropdowns">Dropdowns</option>
			<option value="media queries breakpoints">Media queries breakpoints</option>
			<option value="grid system">Grid system</option>
			<option value="container sizes">Container sizes</option>
			<option value="navbar">Navbar</option>
			<option value="navs">Navs</option>
			<option value="tabs">Tabs</option>
			<option value="pills">Pills</option>
			<option value="pagination">Pagination</option>
			<option value="pager">Pager</option>
			<option value="jumbotron">Jumbotron</option>
			<option value="form states and alerts">Form states and alerts</option>
			<option value="tooltips">Tooltips</option>
			<option value="popovers">Popovers</option>
			<option value="labels">Labels</option>
			<option value="modals">Modals</option>
			<option value="alerts">Alerts</option>
			<option value="progress bars">Progress bars</option>
			<option value="optionst group">optionst group</option>
			<option value="panels">Panels</option>
			<option value="thumbnails">Thumbnails</option>
			<option value="wells">Wells</option>
			<option value="badges">Badges</option>
			<option value="breadcrumbs">Breadcrumbs</option>
			<option value="carousel">Carousel</option>
			<option value="close">Close</option>
			<option value="code">Code</option>
			<option value="type">Type</option>
		</select>
	</div>
	<div class="clearfix"></div>

	<section ng-include="'views/edit-panels/'+selectedCat+'.html'" ng-if="selectedCat"></section>

</div>


<!-- {{lessVars}} -->